header {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    background-image: url("./../images/bolos_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: var(--header-font-color);
        font-size: 5rem;
        /*font-style: italic;*/
    }

}

section {

    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;

    h2 {
        text-align: center;
        text-decoration: underline;
        font-style: oblique;
    }

    p {
        margin-left: 1rem;
        font-weight: bold;
    }

    table {
        width: 100%;

        tr {

            td {
                vertical-align: middle !important;
            }

            td:nth-child(even) {
                text-align: end;
                width: 70px;
            }
        }
    }
}

@media screen and (min-width: 720px) {    
    section {
        width: 700px;
        margin: 20px auto;
    }
}